<?xml version="1.0"?>
<model>
  <name>suitcase_standard</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>RobotArm</name>
  </author>
  <description>
    Medium checked suitcase (70 x 45 x 28 cm, 15 kg). Matches luggage_description/config/suitcase.yaml.example.
  </description>
</model>
