<?xml version="1.0"?>
<!-- Saved by eof_mount_stack_tune_gui.py -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="suction_flange_parent" value="elfin_end_link"/>
  <xacro:property name="suction_flange_xyz" value="0.000600 0.000000 0.000000"/>
  <xacro:property name="suction_flange_rpy" value="-1.56451314 0.00000000 3.14159265"/>
</robot>
