<?xml version="1.0"?>
<model>
  <name>airport_container</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>RobotArm</name>
  </author>
  <description>
    Side-open airport cargo container (2.4 x 2.0 x 2.2 m outer).
    Opening on +Y face for robot loading. Dimensions match luggage_description/config/container.yaml.example.
  </description>
</model>
