<launch>
  <!-- Gazebo + MoveIt + motion planner + one-shot observe reset. -->
  <arg name="display_moveit" default="false"/>
  <arg name="observe_pose" default="observe"/>

  <include file="$(find luggage_gazebo)/launch/sim_world.launch"/>

  <include file="$(find luggage_bringup)/launch/moveit_with_camera.launch">
    <arg name="display" value="$(arg display_moveit)"/>
    <arg name="load_urdf" value="false"/>
  </include>

  <node pkg="luggage_planning" type="motion_planner_node.py" name="motion_planner" output="screen"/>

  <node pkg="luggage_bringup" type="reset_observe_client.py" name="reset_observe_client" output="screen">
    <param name="pose_name" value="$(arg observe_pose)"/>
  </node>
</launch>
