<?xml version="1.0"?>
<model>
  <name>suitcase_vintage_medium</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author><name>RobotArm</name></author>
  <description>
    Pre-scaled suitcase_vintage medium suitcase. Visual and collision share this STL (scale 1 1 1).
  </description>
</model>
