mount:
  parent_link: suction_panel
  child_link: eef_mount_adapter
  fixed:
    xyz:
    - 0.0168
    - -0.0156
    - 0.0702
    rpy:
    - 1.57707939
    - 0.00
    - -3.1415926
mesh:
  file: package://luggage_gazebo/models/arm_realsense/arm_realsense_v1.3.stl
  scale:
  - 0.001
  - 0.001
  - 0.001
physical:
  mass: 0.12
  inertia_approx: box_0.15_0.13_0.086
mid360_mount_frame:
  xyz:
  - 0.0
  - 0.0
  - 0.05
  rpy:
  - 0.0
  - 0.0
  - 0.0
meta:
  name: eef_mount_adapter
  version: 1.0.0
