<launch>
  <!-- Active Cargo loading: one runtime pickup box, inspect Cargo, compute slot, pick/place/update loop. -->
  <arg name="start_orchestrator" default="true"/>
  <arg name="max_placed" default="3"/>
  <arg name="skip_reset" default="false"/>
  <arg name="skip_container_aim" default="false"/>
  <arg name="inspect_mode" default="gazebo_gt"/>
  <arg name="use_post_place_inspect" default="false"/>
  <arg name="dry_run_motion" default="false"/>
  <arg name="run_initial_explore" default="true"/>
  <arg name="initial_exploration_mode" default="initial_fixed_scan"/>
  <arg name="exploration_mode" default="fixed_scan"/>
  <arg name="exploration_config" default="$(find luggage_description)/config/exploration.yaml.example"/>
  <arg name="voxel_resolution" default="0.10"/>
  <arg name="max_explore_views" default="8"/>
  <arg name="unknown_threshold" default="0.15"/>
  <arg name="box_catalog_config" default="$(find luggage_description)/config/box_catalog.yaml.example"/>

  <include file="$(find luggage_gazebo)/launch/sim_world.launch">
    <arg name="spawn_at_observe" value="true"/>
    <arg name="hold_observe_on_start" value="true"/>
    <arg name="clear_existing_models" value="true"/>
    <arg name="spawn_suitcases" value="false"/>
  </include>

  <include file="$(find luggage_bringup)/launch/moveit_with_camera.launch">
    <arg name="display" value="false"/>
    <arg name="load_urdf" value="false"/>
  </include>

  <node pkg="luggage_description" type="description_params_node.py" name="description_params" output="screen"/>
  <node pkg="luggage_gazebo" type="pickup_box_spawner_node.py" name="pickup_box_spawner" output="screen">
    <param name="box_catalog_config" value="$(arg box_catalog_config)"/>
  </node>
  <node pkg="luggage_perception" type="luggage_detector_node.py" name="luggage_detector" output="screen"/>
  <node pkg="luggage_perception" type="cargo_volume_mapper_node.py" name="cargo_volume_mapper" output="screen">
    <param name="voxel_resolution" value="$(arg voxel_resolution)"/>
    <param name="publish_viz" value="true"/>
    <param name="viz_frame_id" value="elfin_base_link"/>
    <param name="viz_show_free" value="false"/>
    <param name="viz_show_unknown" value="true"/>
  </node>
  <node pkg="luggage_perception" type="container_inspector_node.py" name="container_inspector" output="screen">
    <param name="box_catalog_config" value="$(arg box_catalog_config)"/>
    <param name="grid_resolution" value="$(arg voxel_resolution)"/>
  </node>
  <node pkg="luggage_planning" type="cargo_exploration_planner_node.py" name="cargo_exploration_planner" output="screen">
    <param name="exploration_config" value="$(arg exploration_config)"/>
    <param name="max_explore_views" value="$(arg max_explore_views)"/>
    <param name="unknown_threshold" value="$(arg unknown_threshold)"/>
  </node>
  <node pkg="luggage_packing" type="bin_packer_node.py" name="bin_packer" output="screen"/>
  <node pkg="luggage_planning" type="scene_manager_node.py" name="scene_manager" output="screen"/>
  <node pkg="luggage_planning" type="waypoint_generator_node.py" name="waypoint_generator" output="screen"/>
  <node pkg="luggage_planning" type="motion_planner_node.py" name="motion_planner" output="screen" launch-prefix="bash -c 'sleep 5; exec $0 $@' ">
    <param name="move_group_wait_timeout" value="120.0"/>
  </node>
  <node pkg="luggage_planning" type="vacuum_simulator_node.py" name="vacuum_simulator" output="screen"/>

  <node if="$(arg start_orchestrator)" pkg="luggage_bringup" type="orchestrator_node.py" name="orchestrator" output="screen">
    <param name="active_loading" value="true"/>
    <param name="max_placed" value="$(arg max_placed)"/>
    <param name="skip_reset" value="$(arg skip_reset)"/>
    <param name="skip_container_aim" value="$(arg skip_container_aim)"/>
    <param name="inspect_mode" value="$(arg inspect_mode)"/>
    <param name="use_post_place_inspect" value="$(arg use_post_place_inspect)"/>
    <param name="dry_run_motion" value="$(arg dry_run_motion)"/>
    <param name="run_initial_explore" value="$(arg run_initial_explore)"/>
    <param name="initial_exploration_mode" value="$(arg initial_exploration_mode)"/>
    <param name="exploration_mode" value="$(arg exploration_mode)"/>
    <param name="unknown_threshold" value="$(arg unknown_threshold)"/>
    <param name="settle_time_sec" value="0.5"/>
  </node>
</launch>
